#welcome{
  text-align: center;
  font-size : 30px;
  color: blue;
  font-weight: bold;
}

#welcomeuser{
  font-size : 25px;
  color: orange;
  font-weight: bold;
}

#login{
position: absolute;

}

#register{
  position: absolute;
  left: 230px;
    top: 175px;
}

/*#myinfo{
  position: absolute;
  text-align: right;
}*/

#title{
  font-weight: bold;
}

.heading{
  font-size : 18px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*#postItem {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}*/
