<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<title>eBay</title>
	<link rel="stylesheet" href="eBay.css">

</head>
<body>
	<div data-ng-app="myApp" data-ng-controller="myCtrl">
	<div id = "welcome"> Welcome to Buy and Sell!</div><br>
	<div id = "welcomeuser" > {{currentuser}}
		<br>
		<button id='logout' data-ng-show= "afterLogin" data-ng-click="logoutClick()">Logout</button>
	</div><br>
	<p class="heading">Login or Register an Account here: </p>
<div id="login">
  <input type="text" id="username" placeholder="Username" data-ng-model = "logusername"/><br>
  <!-- <input type="password" id="password" placeholder="Password" data-ng-model = "logpassword" /><br> -->
  <button id="login_btn" data-ng-click="loginClick()">Log In</button>
	</div>
  <br>
	<div id="register">
  <input type="text" id="registerusername" data-ng-model = "registerusername" placeholder="Username" /><br>
  <!-- <input type="password" id="registerpassword" data-ng-model = "registerpassword" placeholder="Password" /><br> -->
	<input type="text" id="registeremail" data-ng-model = "registeremail" placeholder="Email" /><br>
  <button id="register_btn" data-ng-click="registerClick()">Register</button>
</div>
	<br>
	<br>
	<br>
	<div id="postItem" data-ng-model = "postItem">
		<div data-ng-show="afterLogin">
	<div class="heading"> Post an item to sell here: </div><br>
  <input type="text" id="itemtitle" data-ng-model = "itemtitle" placeholder="Title" />
  <input type="text" id="description" data-ng-model = "description" placeholder="Description" />
	$<input type="number" id="price" data-ng-model = "price" placeholder="Price" />
	<select data-ng-model="category">
	  <option value="Clothing">Clothing</option>
	  <option value="Electronics">Electronics</option>
	  <option value="Furniture">Furniture</option>
	  <option value="Other">Other</option>
	</select>
  <button id="post_btn" data-ng-click="postItemClick()">Post your item!</button><br><br>
	<button class="button" data-ng-click="toggle()">Stuff I'm Selling</button><br><br>

</div>

	<!-- <button data-ng-click="toggle()">My Items for Sale</button> -->


	<div data-ng-show="myVar">

		<h2> I'm selling: </h2>
		<ul data-ng-repeat="x in myitems track by $index">
			<li>{{x.saletitle}} </li>
			Item ID: {{x.saleitemid}}

		</ul>
		<div class="heading"> Edit your items: </div><br>
		<input type="text" id="edititemtitle" data-ng-model = "edititemtitle" placeholder="Title" />
		<input type="text" id="editdescription" data-ng-model = "editdescription" placeholder="Description" />
		$<input type="number" id="editprice" data-ng-model = "editprice" placeholder="Price" />
		<input type="number" id="editid" data-ng-model = "editid" placeholder="Item id" />
		 <input type="hidden" name="token" data-ng-model = "token"/>
		<button id='editevent' data-ng-click="editClick()">Edit Item</button>
		<br>
		<input type="number" id="deleteid" data-ng-model = "deleteid" placeholder="Item id" />
		<input type="hidden" name="deletetoken" data-ng-model = "deletetoken"/>
		<button id='deleteevent' data-ng-click="deleteClick()">Delete Item</button>
		<h2> Bids on my stuff: </h2>
		<ul data-ng-repeat="x in mybids track by $index">
			<li>{{x.itemtitle}}</li>
			Bid amount: ${{x.price}}<br>
			Bidder: {{x.bidder}}<br>
			<div id = "{{x.bidid}}" hidden>{{x.bidid}}</div><br>
			<button  data-ng-click="acceptBid(x)" >Accept bid from {{x.bidder}}</button>
		</ul>

	</div>
	<div data-ng-show="otherafterLogin">
		<div class="heading"> Messaging </div><br>
	<input type="text" id="message" data-ng-model = "message" placeholder="Message" />
	<input type="text" id="messageuser" data-ng-model = "messageuser" placeholder="User" />
	<button id='messageevent' data-ng-click="messageClick()">Send Message</button>
	<br><br>
	<div class="heading"> Rate Users </div><br>
	<input type="text" id="rateuser" data-ng-model = "rateuser" placeholder="User" />
	<input type="number" id='rating' data-ng-model='rating' name="rating" min="1" max="5">
	<button id='messageevent' data-ng-click="rateClick()">Rate This User</button>
	<br>
	<input type="text" id="checkuser" data-ng-model = "checkuser" placeholder="User" />
	<button id='checkevent' data-ng-click="checkClick()">Check User Rating</button>
</div>
</div>
	<h2> Items for Sale </h2>
	<input type="text" id="searchbar" data-ng-model = "searchbar" placeholder="Enter title name"/>
	<button id='searchevent' data-ng-click="searchClick()">Search</button><br>
	Filter by Category: <select data-ng-model="categorysearch">
		<option value="Clothing">Clothing</option>
	  <option value="Electronics">Electronics</option>
	  <option value="Furniture">Furniture</option>
	  <option value="Other">Other</option>
		<option value="none">None</option>
	</select>
	<button data-ng-click="categorySearchClick()">Filter</button>
	<ul data-ng-repeat="x in items">
  	<li id="title">{{x.thistitle}}</li>
		{{x.thisdescription}}<br>
		Category: {{x.category}}<br>
		Price: ${{x.thisprice}}<br>
		Seller:  {{x.thisseller}}<br>
		Number of bids: {{x.numberofbids}} <br>
		<div data-ng-show="afterLogin">
		$<input type="number" id = "{{x.thistitle}}" placeholder="Your Bid" /><br>
		<button data-ng-click="bid(x)" >Bid on {{x.thistitle}}</button>
	</div>
	</ul>
<div data-ng-show="otherafterLogin">
	<h2> Your Messages </h2>

<div id='mymessages'>
	<ul data-ng-repeat="x in messages">
		<li>{{x.thissender}} : {{x.thismessage}}</li>
	</ul>
</div>
</div>
</div>
<script type="text/javascript" src="ebay.js"></script>
</body>

</html>
